
body {
    margin: 0;
}
.webgl {
     display: block;
 /* background: url(https://threejs.org/manual/examples/resources/images/daikanyama.jpg) no-repeat center center ;
  background-size: cover;*/
}
